.container{
    width: 100%;
    height: 30vw;
    position: relative;
    margin-top: 9vh;
    display: flex;
    padding: 0 15vw;
    align-items: center;
}
.heroBackground{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    user-select: none;
}
.textContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    /* padding: 7vh 0; */
}
.mapIcon{
    z-index: 1;
    width: 1vw;
    height: auto;
}
.city{
    color: var(--color);
    z-index: 1;
    font-size: 1vw;
}
.header{
    color: black;
    z-index: 1;
    font-size: 1.9vw;
    width: 20vw;
    font-weight: 600;
    margin-top: 1vw;
}
.description{
    color: black;
    z-index: 1;
    font-size: .8vw;
    width: 20vw;
    font-weight: 400;
    margin-top: 1vw;
}
.description span{
    color: var(--color);

    font-weight: 600;
    margin-top: 1vw;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vw;
}
.card{
    display: flex;
    width: 50%;
    align-items: flex-start;
    gap: .6vw;
    margin-top: 1vw;
}
.cardImg{
    width: auto;
    height: 100%;
}
.cardTextContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .2vw;
}
.cardName{
    font-size: .7vw;
    margin: 0;
    font-weight: 500;
}
.cardDescription{
    font-size: .5vw;
    width: 60%;
}
.formContainer{
    width: 50%;
}
