.container{
    width: 100%;
    height: 30vw;
    position: relative;
    margin-top: 9vh;
    display: flex;
    padding: 0 15vw;
    align-items: center;
}
.heroBackground{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    user-select: none;
}
.textContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    /* padding: 7vh 0; */
}
.mapIcon{
    z-index: 1;
    width: 1vw;
    height: auto;
}
.city{
    color: var(--color);
    z-index: 1;
    font-size: 1vw;
    display: flex;
    gap: .5vw;
}
.header{
    color: black;
    z-index: 1;
    font-size: 1.9vw;
    width: 20vw;
    font-weight: 600;
    margin-top: 1vw;
}
.description{
    color: black;
    z-index: 1;
    font-size: .8vw;
    width: 20vw;
    font-weight: 400;
    margin-top: 1vw;
}
.description span{
    color: var(--color);

    font-weight: 600;
    margin-top: 1vw;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vw;
}
.card{
    display: flex;
    width: 50%;
    align-items: flex-start;
    gap: .6vw;
    margin-top: 1vw;
}
.cardImg{
    width: auto;
    height: 100%;
}
.cardTextContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .2vw;
}
.cardName{
    font-size: .7vw;
    margin: 0;
    font-weight: 500;
}
.cardDescription{
    font-size: .5vw;
    width: 60%;
}
.formContainer{
    width: 50%;
    z-index: 1;
}
@media (max-width:1680px) {
    .mapIcon{
        width: 1.7vw;
    }
    .city{
        font-size: 1.5vw;
    }
    .header{
        font-size: 2.4vw;
        width: 25vw;
    }
    .description{
        font-size: 1vw;
        width: 25vw;
    }
    .cardName{
        font-size: .9vw;
    }
    .cardDescription{
        font-size: .7vw;
    }
}
@media (max-width:768px) {
    .container{
        height: auto;
        margin-top: 9vh;
        flex-direction: column;
        padding: 5vh 0vw;
        overflow: hidden;
    }
    .heroBackground{
        width: auto;
        height: 100%;
    }
    .textContainer{
        width: 100%;
        padding: 3vh;
    }
    .mapIcon{
        width: 3vh;
    }
    .city{
        font-size: 5vw;
    }
    .header{
        color: var(--black);
        font-size: 5vw;
        width: 80%;
        margin-top: 3vh;
        font-weight: 600;
    }
    .description{
        color:  var(--black);
        z-index: 1;
        font-size: 4vw;
        width: 80%;
        font-weight: 400;
        margin-top: 1vw;
    }
    .description span{
        color: var(--color);
    
        font-weight: 600;
        margin-top: 1vw;
    }
    .cardContainer{
        display: flex;
        flex-wrap: wrap;
        margin-top: 4vh;
    }
    .card{
        gap: 2vw;
        margin-top: 1vw;
    }
    .cardImg{
        height: 3vh;
    }
    .cardTextContainer{
        gap: 2vw;
    }
    .cardName{
        font-size: 3vw;

    }
    .cardDescription{
        font-size: 2vw;
    }
    .formContainer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}